COVID19 PATIENT ALERT SYSTEM PROJECT
[{"id":"bc9ab230.ad703","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"806aae0c.05c0c","type":"inject","z":"bc9ab230.ad703","name":"Adi Data","topic":"raiel/iot","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"102\",\"11AM\":\"96\",\"1PM\": \"103\",\"6PM\":\"101\"},{\"Date\":\"6/17/20\",\"8AM\":\"99\",\"11AM\":\"98\",\"1PM\":\"96\",\"6PM\":\"96\"},{ \"Date\":\"6/18/20\",\"8AM\":\"103\",\"11AM\":\"97\",\"1PM\":\"102\",\"6PM\":\"100\"},{\"Date\":\"6/19/20\",\"8 AM\":\"99\",\"11AM\":\"99\",\"1PM\":\"98\",\"6PM\":\"99\"},{\"Date\":\"6/20/20\",\"8AM\":\"103\",\"11AM\":\" 98\",\"1PM\":\"99\",\"6PM\":\"100\"},{\"Date\":\"6/21/20\",\"8AM\":\"101\",\"11AM\":\"101\",\"1PM\":\"98\",\"6 PM\":\"100\"},{\"Date\":\"6/22/20\",\"8AM\":\"103\",\"11AM\":\"101\",\"1PM\":\"95\",\"6PM\":\"97\"},{\"Date\" :\"6/23/20\",\"8AM\":\"102\",\"11AM\":\"96\",\"1PM\":\"100\",\"6PM\":\"102\"},{\"Date\":\"6/24/20\",\"8AM\":\" 97\",\"11AM\":\"100\",\"1PM\":\"101\",\"6PM\":\"96\"},{\"Date\":\"6/25/20\",\"8AM\":\"99\",\"11AM\":\"98\",\" 1PM\":\"102\",\"6PM\":\"101\"},{\"Date\":\"6/26/20\",\"8AM\":\"100\",\"11AM\":\"100\",\"1PM\":\"98\",\"6PM\" :\"100\"},{\"Date\":\"6/27/20\",\"8AM\":\"103\",\"11AM\":\"96\",\"1PM\":\"102\",\"6PM\":\"95\"},{\"Date\":\"6/2 8/20\",\"8AM\":\"96\",\"11AM\":\"97\",\"1PM\":\"95\",\"6PM\":\"99\"},{\"Date\":\"6/29/20\",\"8AM\":\"95\",\"11 AM\":\"96\",\"1PM\":\"99\",\"6PM\":\"97\"},{\"Date\":\"6/30/20\",\"8AM\":\"98\",\"11AM\":\"98\",\"1PM\":\"10 3\",\"6PM\":\"96\"},{\"Date\":\"7/1/20\",\"8AM\":\"96\",\"11AM\":\"95\",\"1PM\":\"99\",\"6PM\":\"96\"},{\"Date \":\"7/2/20\",\"8AM\":\"99\",\"11AM\":\"98\",\"1PM\":\"100\",\"6PM\":\"100\"},{\"Date\":\"7/3/20\",\"8AM\":\"9 9\",\"11AM\":\"97\",\"1PM\":\"102\",\"6PM\":\"95\"},{\"Date\":\"7/4/20\",\"8AM\":\"98\",\"11AM\":\"101\",\"1P M\":\"103\",\"6PM\":\"98\"},{\"Date\":\"7/5/20\",\"8AM\":\"95\",\"11AM\":\"99\",\"1PM\":\"95\",\"6PM\":\"97\"} ]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"http://15.206.203.84:1880/","x":120, "y":80,"wires":[["1a70049.b5fabfb"]]},{"id":"3fed3d1e.368122","type":"debug","z":"bc9ab230.ad703","name":"" ,"active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":60,"wires":[]},{"id": "1a11ff4c.125521","type":"ui_chart","z":"bc9ab230.ad703","name":"Adi Temp","group":"672a925d.4df11c","order":1,"width":"0","height":"0","label":"chart","chartType":"line","legend" :"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":true,"ymin":"85","ymax":"110","removeOlder": 1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":[" #1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":f alse,"outputs":1,"x":900,"y":120,"wires":[[]]},{"id":"1a70049.b5fabfb","type":"function","z":"bc9ab230.ad703"," name":"","func":"msg.payload=msg.payload.Sheet1[0];\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["d9f50784.adf5a8","ad34d127.e1cec"]]},{"id":"d9f50784.ad f5a8","type":"split","z":"bc9ab230.ad703","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"le n","stream":false,"addname":"","x":570,"y":80,"wires":[["3fed3d1e.368122","1a11ff4c.125521"]]},{"id":"fbbc9a 47.e22688","type":"inject","z":"bc9ab230.ad703","name":"Mohit Data","topic":"raiel/iot","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"101\",\"11AM\":\"101\",\"1PM\ ":\"99\",\"6PM\":\"97\"},{\"Date\":\"6/17/20\",\"8AM\":\"96\",\"11AM\":\"100\",\"1PM\":\"101\",\"6PM\":\"100\" },{\"Date\":\"6/18/20\",\"8AM\":\"100\",\"11AM\":\"96\",\"1PM\":\"100\",\"6PM\":\"103\"},{\"Date\":\"6/19/20\", \"8AM\":\"102\",\"11AM\":\"101\",\"1PM\":\"96\",\"6PM\":\"98\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM \":\"96\",\"1PM\":\"102\",\"6PM\":\"96\"},{\"Date\":\"6/21/20\",\"8AM\":\"102\",\"11AM\":\"97\",\"1PM\":\"95\", \"6PM\":\"103\"},{\"Date\":\"6/22/20\",\"8AM\":\"99\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date \":\"6/23/20\",\"8AM\":\"103\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"97\"},{\"Date\":\"6/24/20\",\"8AM\":\" 99\",\"11AM\":\"103\",\"1PM\":\"100\",\"6PM\":\"103\"},{\"Date\":\"6/25/20\",\"8AM\":\"95\",\"11AM\":\"95\",\ "1PM\":\"99\",\"6PM\":\"95\"},{\"Date\":\"6/26/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1PM\":\"103\",\"6PM\":\" 96\"},{\"Date\":\"6/27/20\",\"8AM\":\"102\",\"11AM\":\"98\",\"1PM\":\"103\",\"6PM\":\"99\"},{\"Date\":\"6/28/2 0\",\"8AM\":\"103\",\"11AM\":\"98\",\"1PM\":\"100\",\"6PM\":\"99\"},{\"Date\":\"6/29/20\",\"8AM\":\"98\",\"11
AM\":\"101\",\"1PM\":\"98\",\"6PM\":\"101\"},{\"Date\":\"6/30/20\",\"8AM\":\"101\",\"11AM\":\"100\",\"1PM\": \"97\",\"6PM\":\"99\"},{\"Date\":\"7/1/20\",\"8AM\":\"96\",\"11AM\":\"97\",\"1PM\":\"97\",\"6PM\":\"95\"},{\"D ate\":\"7/2/20\",\"8AM\":\"98\",\"11AM\":\"102\",\"1PM\":\"96\",\"6PM\":\"97\"},{\"Date\":\"7/3/20\",\"8AM\":\" 95\",\"11AM\":\"98\",\"1PM\":\"97\",\"6PM\":\"95\"},{\"Date\":\"7/4/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1P M\":\"98\",\"6PM\":\"102\"},{\"Date\":\"7/5/20\",\"8AM\":\"96\",\"11AM\":\"98\",\"1PM\":\"96\",\"6PM\":\"96\"} ]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"http://15.206.203.84:1880/","x":130, "y":180,"wires":[["a0b16d06.51124"]]},{"id":"a0b16d06.51124","type":"function","z":"bc9ab230.ad703","name" :"","func":"msg.payload=msg.payload.Sheet1[0];\nreturn msg","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["cca09ffe.92f99","137dbace.1b1335"]]},{"id":"44961c3f.f2 f784","type":"ui_chart","z":"bc9ab230.ad703","name":"Mohit Temp","group":"5f880484.da109c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"fa lse","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"85","ymax":"110","removeOlde r":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors" :["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle ":false,"outputs":1,"x":870,"y":200,"wires":[[]]},{"id":"3003e9a9.19d136","type":"debug","z":"bc9ab230.ad703", "name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":260,"wires ":[]},{"id":"140c2ac2.1fbdf5","type":"inject","z":"bc9ab230.ad703","name":"Rahul Data","topic":"raiel/iot","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"102\",\"11AM\":\"99\",\"1PM\": \"101\",\"6PM\":\"102\"},{\"Date\":\"6/17/20\",\"8AM\":\"97\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"95\"},{ \"Date\":\"6/18/20\",\"8AM\":\"99\",\"11AM\":\"99\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/19/20\",\"8A M\":\"95\",\"11AM\":\"103\",\"1PM\":\"98\",\"6PM\":\"101\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM\":\"9 8\",\"1PM\":\"98\",\"6PM\":\"98\"},{\"Date\":\"6/21/20\",\"8AM\":\"96\",\"11AM\":\"103\",\"1PM\":\"100\",\"6P M\":\"95\"},{\"Date\":\"6/22/20\",\"8AM\":\"95\",\"11AM\":\"96\",\"1PM\":\"99\",\"6PM\":\"101\"},{\"Date\":\"6/ 23/20\",\"8AM\":\"95\",\"11AM\":\"102\",\"1PM\":\"98\",\"6PM\":\"103\"},{\"Date\":\"6/24/20\",\"8AM\":\"97\",\ "11AM\":\"98\",\"1PM\":\"96\",\"6PM\":\"95\"},{\"Date\":\"6/25/20\",\"8AM\":\"100\",\"11AM\":\"102\",\"1PM\" :\"103\",\"6PM\":\"103\"},{\"Date\":\"6/26/20\",\"8AM\":\"97\",\"11AM\":\"98\",\"1PM\":\"101\",\"6PM\":\"99\"} ,{\"Date\":\"6/27/20\",\"8AM\":\"102\",\"11AM\":\"99\",\"1PM\":\"102\",\"6PM\":\"96\"},{\"Date\":\"6/28/20\",\" 8AM\":\"100\",\"11AM\":\"100\",\"1PM\":\"96\",\"6PM\":\"102\"},{\"Date\":\"6/29/20\",\"8AM\":\"96\",\"11AM\ ":\"102\",\"1PM\":\"96\",\"6PM\":\"96\"},{\"Date\":\"6/30/20\",\"8AM\":\"101\",\"11AM\":\"103\",\"1PM\":\"95\" ,\"6PM\":\"101\"},{\"Date\":\"7/1/20\",\"8AM\":\"102\",\"11AM\":\"95\",\"1PM\":\"103\",\"6PM\":\"102\"},{\"Da te\":\"7/2/20\",\"8AM\":\"100\",\"11AM\":\"102\",\"1PM\":\"99\",\"6PM\":\"101\"},{\"Date\":\"7/3/20\",\"8AM\":\ "100\",\"11AM\":\"101\",\"1PM\":\"101\",\"6PM\":\"99\"},{\"Date\":\"7/4/20\",\"8AM\":\"102\",\"11AM\":\"102\ ",\"1PM\":\"102\",\"6PM\":\"95\"},{\"Date\":\"7/5/20\",\"8AM\":\"102\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\ ":\"101\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"http://15.206.203.84:1880/ ","x":130,"y":320,"wires":[["8fa08157.cefff"]]},{"id":"8fa08157.cefff","type":"function","z":"bc9ab230.ad703"," name":"","func":"msg.payload=msg.payload.Sheet1[0];\nreturn msg","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["a192e493.1405a8","a71874d2.bfc178"]]},{"id":"57df9b99 .8f1c54","type":"debug","z":"bc9ab230.ad703","name":"","active":true,"tosidebar":true,"console":false,"tostatus": false,"complete":"false","x":870,"y":320,"wires":[]},{"id":"4e7d512c.b5d24","type":"ui_chart","z":"bc9ab230.ad 703","name":"Rahul Temp","group":"3d59ec0c.b97334","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"fa lse","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"85","ymax":"115","removeOld er":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors ":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyl e":false,"outputs":1,"x":870,"y":380,"wires":[[]]},{"id":"eac6abe6.de1478","type":"inject","z":"bc9ab230.ad703", "name":"Sumit

Data","topic":"raiel/iot","payload":"{\"Sheet1\":[{\"Date\":\"6/16/20\",\"8AM\":\"103\",\"11AM\":\"100\",\"1PM\ ":\"103\",\"6PM\":\"99\"},{\"Date\":\"6/17/20\",\"8AM\":\"96\",\"11AM\":\"95\",\"1PM\":\"97\",\"6PM\":\"98\"}, {\"Date\":\"6/18/20\",\"8AM\":\"99\",\"11AM\":\"99\",\"1PM\":\"102\",\"6PM\":\"103\"},{\"Date\":\"6/19/20\",\"8 AM\":\"103\",\"11AM\":\"103\",\"1PM\":\"101\",\"6PM\":\"101\"},{\"Date\":\"6/20/20\",\"8AM\":\"98\",\"11AM\ ":\"100\",\"1PM\":\"101\",\"6PM\":\"95\"},{\"Date\":\"6/21/20\",\"8AM\":\"102\",\"11AM\":\"97\",\"1PM\":\"101\ ",\"6PM\":\"101\"},{\"Date\":\"6/22/20\",\"8AM\":\"99\",\"11AM\":\"95\",\"1PM\":\"95\",\"6PM\":\"95\"},{\"Date \":\"6/23/20\",\"8AM\":\"103\",\"11AM\":\"102\",\"1PM\":\"96\",\"6PM\":\"101\"},{\"Date\":\"6/24/20\",\"8AM\": \"99\",\"11AM\":\"97\",\"1PM\":\"100\",\"6PM\":\"95\"},{\"Date\":\"6/25/20\",\"8AM\":\"96\",\"11AM\":\"95\",\" 1PM\":\"101\",\"6PM\":\"95\"},{\"Date\":\"6/26/20\",\"8AM\":\"101\",\"11AM\":\"95\",\"1PM\":\"101\",\"6PM\":\ "98\"},{\"Date\":\"6/27/20\",\"8AM\":\"97\",\"11AM\":\"95\",\"1PM\":\"102\",\"6PM\":\"97\"},{\"Date\":\"6/28/2 0\",\"8AM\":\"103\",\"11AM\":\"96\",\"1PM\":\"95\",\"6PM\":\"96\"},{\"Date\":\"6/29/20\",\"8AM\":\"96\",\"11A M\":\"103\",\"1PM\":\"103\",\"6PM\":\"103\"},{\"Date\":\"6/30/20\",\"8AM\":\"102\",\"11AM\":\"103\",\"1PM\":\ "103\",\"6PM\":\"98\"},{\"Date\":\"7/1/20\",\"8AM\":\"101\",\"11AM\":\"102\",\"1PM\":\"100\",\"6PM\":\"99\"}, {\"Date\":\"7/2/20\",\"8AM\":\"96\",\"11AM\":\"99\",\"1PM\":\"98\",\"6PM\":\"102\"},{\"Date\":\"7/3/20\",\"8A M\":\"102\",\"11AM\":\"103\",\"1PM\":\"96\",\"6PM\":\"98\"},{\"Date\":\"7/4/20\",\"8AM\":\"97\",\"11AM\":\"10 2\",\"1PM\":\"100\",\"6PM\":\"101\"},{\"Date\":\"7/5/20\",\"8AM\":\"96\",\"11AM\":\"98\",\"1PM\":\"100\",\"6P M\":\"97\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"http://15.206.203.84:188 0/","x":110,"y":420,"wires":[["d5bddce2.372ab"]]},{"id":"d5bddce2.372ab","type":"function","z":"bc9ab230.ad7 03","name":"","func":"msg.payload=msg.payload.Sheet1[0];\nreturn msg","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["123f7acf.a247d5","33d47f10.30019"]]},{"id":"db0da9c9.1 274d8","type":"debug","z":"bc9ab230.ad703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":f alse,"complete":"false","x":850,"y":440,"wires":[]},{"id":"b6fce370.e2258","type":"ui_chart","z":"bc9ab230.ad7 03","name":"Sumit Temp","group":"389334b5.4d477c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"f alse","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"85","ymax":"115","removeOl der":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"color s":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldSty le":false,"outputs":1,"x":870,"y":500,"wires":[[]]},{"id":"cca09ffe.92f99","type":"split","z":"bc9ab230.ad703","n ame":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":577.9333 49609375,"y":181.93333435058594,"wires":[["44961c3f.f2f784","3003e9a9.19d136"]]},{"id":"a192e493.1405a8 ","type":"split","z":"bc9ab230.ad703","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","s tream":false,"addname":"","x":570,"y":320,"wires":[["57df9b99.8f1c54","4e7d512c.b5d24"]]},{"id":"123f7acf.a2 47d5","type":"split","z":"bc9ab230.ad703","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"le n","stream":false,"addname":"","x":550,"y":420,"wires":[["db0da9c9.1274d8","b6fce370.e2258"]]},{"id":"ad34d 127.e1cec","type":"mqtt out","z":"bc9ab230.ad703","name":"","topic":"raiel/iot","qos":"","retain":"","broker":"99d7314.59f79d","x":560," y":20,"wires":[]},{"id":"137dbace.1b1335","type":"mqtt out","z":"bc9ab230.ad703","name":"","topic":"raiel/iot","qos":"","retain":"","broker":"99d7314.59f79d","x":580," y":140,"wires":[]},{"id":"a71874d2.bfc178","type":"mqtt out","z":"bc9ab230.ad703","name":"","topic":"raiel/iot","qos":"","retain":"","broker":"99d7314.59f79d","x":600," y":260,"wires":[]},{"id":"33d47f10.30019","type":"mqtt out","z":"bc9ab230.ad703","name":"","topic":"raiel/iot","qos":"","retain":"","broker":"99d7314.59f79d","x":560," y":500,"wires":[]},{"id":"672a925d.4df11c","type":"ui_group","z":"","name":"Adi","tab":"7abe545e.8c90ac","or der":1,"disp":true,"width":"6","collapse":false},{"id":"5f880484.da109c","type":"ui_group","z":"","name":"Mohit ","tab":"7abe545e.8c90ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d59ec0c.b97334","type":"u i_group","z":"","name":"Rahul","tab":"7abe545e.8c90ac","order":3,"disp":true,"width":"6","collapse":false},{"id

":"389334b5.4d477c","type":"ui_group","z":"","name":"Sumit","tab":"7abe545e.8c90ac","order":4,"disp":true,"w idth":"6","collapse":false},{"id":"99d7314.59f79d","type":"mqtt- broker","z":"","name":"","broker":"a1x5wwv4cqvyvn-ats.iot.ap-south- 1.amazonaws.com","port":"8883","tls":"e6efdaba.f47dc8","clientid":"","usetls":true,"compatmode":true,"keepaliv e":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","clos ePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7abe545e.8c90ac","type":"ui_tab","z":"","na me":"covid","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e6efdaba.f47dc8","type":"tls- config","z":"","name":"","cert":"","key":"","ca":"","certname":"42e4760a94- certificate.pem.crt","keyname":"42e4760a94- private.pem.key","caname":"AmazonRootCA1.pem.txt","servername":"","verifyservercert":true}]
